<p>Parabéns
  {{name}}, sua conta foi ativada com sucesso ao nosso sistema CAF do
  {{clientName}}</p>
<p><strong>CLIQUE NO LINK ABAIXO PARA ENTRAR NO NOSSO SISTEMA</strong></p>
<a href='{{url}}'>ENTRAR NO {{clientName}}</a>

<p>Se você não mora no
  {{clientName}}, não se preocupe, apenas ignore esse email.</p>